<h2><%= @category.title %></h2>
<ul class="index-list">
  <% @articles.each do |article| %>
    <li><%= link_to article.title, category_article_path(article), :class => "article" %></li>
  <% end %>
</ul>
<div>
  <%= link_to "Create New Article", new_category_article_path(@category), :class => "article-new", id: "new-article", remote: true %>
</div>
<div class="new-form"> </div>
