<h2><%= @category.title %></h2>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, category_article_path(article) %></li>
  <% end %>
</ul>
<div>
  <%= link_to "Create New Article", new_category_article_path(@category), id: "new-article", remote: true %>
</div>
<div class="new-form"> </div>
